In [9]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv(r"C:\Users\paulj\OneDrive\Desktop\COding\DSA\Assignment\Assignment 4\Sales_add.csv")

In [4]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

### T - Test

In [12]:
t_stats, p_val = stats.ttest_rel(df['Sales_before_digital_add(in $)'],df['Sales_After_digital_add(in $)'])

In [13]:
p_val

6.336667004575778e-11

In [14]:
if p_val<.05:
    print('Reject Null Hypothesis - Increase in sales after stepping into digital marketing')
else:
    print('Fail to reject Null Hypothesis - No change in sales after stepping into digital marketing')

Reject Null Hypothesis - Increase in sales after stepping into digital marketing

### Chi2

In [15]:
observed = pd.crosstab(df['Region'], df['Manager'])
chi2_stat, p_val2,dof,exp = stats.chi2_contingency(observed)

In [16]:
p_val2

0.5493991051158094

In [17]:
if p_val2<.05:
    print('Reject Null Hypothesis - There is dependency between the features “Region” and “Manager”')
else:
    print('Fail to reject Null Hypothesis - No dependency between the features “Region” and “Manager”')

Fail to reject Null Hypothesis - No dependency between the features “Region” and “Manager”