In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\paulj\OneDrive\Desktop\Coding\DSA\Assignment\Assiignment 8\titanic_dataset .csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Pre-processing

In [8]:
# Drop irrelevant columns

In [9]:
df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [10]:
# Handle missing values
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [11]:
# Convert categorical variables into numerical
df['Sex'] = df['Sex'].map({'female': 0, 'male': 1}).astype(int)
df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2}).astype(int)

In [13]:
# Split the dataset into features (X) and target (y)
X = df.drop('Survived', axis=1)
y = df['Survived']

In [14]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

Create kNN and SVM models

In [15]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [16]:
# Create kNN model
knn_model = KNeighborsClassifier()

In [17]:
# Create SVM model
svm_model = SVC()

k-fold and stratified k-fold cross-validation

In [18]:
from sklearn.model_selection import cross_val_score, StratifiedKFold

In [19]:
# k-fold cross-validation
k_fold_scores = cross_val_score(knn_model, X, y, cv=5)
svm_scores = cross_val_score(svm_model, X, y, cv=5)

In [20]:
# Calculate average accuracy score for k-fold cross-validation
k_fold_avg_accuracy = k_fold_scores.mean()
svm_avg_accuracy = svm_scores.mean()

In [21]:
# Stratified k-fold cross-validation
skf = StratifiedKFold(n_splits=5)
stratified_k_fold_scores = cross_val_score(knn_model, X, y, cv=skf)
stratified_svm_scores = cross_val_score(svm_model, X, y, cv=skf)

In [22]:
# Calculate average accuracy score for stratified k-fold cross-validation
stratified_k_fold_avg_accuracy = stratified_k_fold_scores.mean()
stratified_svm_avg_accuracy = stratified_svm_scores.mean()

In [23]:
# Print the average accuracy scores
print("k-fold Cross-Validation - kNN: {:.4f}".format(k_fold_avg_accuracy))
print("k-fold Cross-Validation - SVM: {:.4f}".format(svm_avg_accuracy))
print("Stratified k-fold Cross-Validation - kNN: {:.4f}".format(stratified_k_fold_avg_accuracy))
print("Stratified k-fold Cross-Validation - SVM: {:.4f}".format(stratified_svm_avg_accuracy))

k-fold Cross-Validation - kNN: 0.6813
k-fold Cross-Validation - SVM: 0.6746
Stratified k-fold Cross-Validation - kNN: 0.6813
Stratified k-fold Cross-Validation - SVM: 0.6746